.backimg{
	width: 100%;
	height: 100vh;
	background-image: url('backimg.jpg');
	background-size: cover;
	display: flex;
	align-items: center;
	color: deepskyblue;
	
}
.profile{
	width: 500px;

}
img{
	height: 300px;
	border-radius: 70%;
}